node_modules
.env

#Hardhat files
cache
artifacts/@chainlink
artifacts/@gnosis.pm
artifacts/@openzeppelin
artifacts/build-info
artifacts/hardhat
artifacts/contracts/*/*.dbg.json
artifacts/contracts/*/*/*.dbg.json

#VIM
*.swp

#Mac Files
*.DS_Store

#Coverage
coverage/
