{
  plugins: [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog"
  ],
  branches: [
    {name: '1.x', range: '1.x', channel: '1.x'},
    {name: '2.x', range: '2.x', channel: '2.x'},
    {name: 'release'},
  ]
}
