{
  plugins: [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog"
  ],
  // branches: [
  //   {name: '1.x', range: '1.x', channel: '1.x'}, // Only after the `1.x` is created in the repo
  //   {name: '2.x', range: '2.x', channel: '2.x'}, // Only after the `2.x` is created in the repo
  //   {name: 'next', channel: 'channel-next'}, // `channel` is built with the template `channel-${name}`
  //   {name: 'alpha', channel: 'alpha', prerelease: 'alpha'}, // `prerelease` is set to `alpha` as it is the value of `name`
  //   {name: 'beta', channel: 'beta', prerelease: 'beta'}, // `prerelease` is set to `beta` as it is the value of `name`
  //   {name: 'rc', channel: 'rc', prerelease: 'rc'}, // `prerelease` is set to `rc` as it is the value of `name`
  // ]
}
